extends layout

block main
  .row
    .large-12.columns
      h2 About

      p
        | I always needed a simple calendar view of trek and hike events around me.
        br
        | Always wished more and more people consider hiking over malls as weekend activities. Especially the parents along with their kids. And for all my friends who are visiting city and wondering what adventure events are around.
      
      p
        i.fi-mail
        | &nbsp; hello at Hikesaround dot me.

      h2 Contribute

      p Do you like Hikesaround Me? You may contribute back in various ways.
      
      ul

      li Hikesaround me is written in Python and Javascript. We need programmers who can contribute.
      li We may design some nice logo for us and may be a favicon.
      li Or easiest you may consider sponsering some of the hosting charges. 
      
      li Ideas and contributions are welcome.
      
      | All accepted contributions would be duely acknowledged.

      h2 Credits

      ul
        li Awesome 
          a(href="http://gonative.io") GoNative.io
          | &nbsp; was kind enough to allow us to use their services to create android app.

      h2 Elsewhere

      ul
        li
          i.fi-mail
          | &nbsp; hello at Hikesaround dot me.
        li
          i.fi-social-facebook
          | &nbsp;
          a(href="https://www.facebook.com/hikesaround.me/") Hikes Around Me
        li 
          a(href="https://play.google.com/store/apps/details?id=io.gonative.android.rqbaw") Android App
